.navbar {
  background-color: black;
}

.navbar-brand {
  font-family: "Big Caslon";
  font-size: 25px;
  padding-left: 25px;
  letter-spacing: 3px;
}

.navbar-toggler {
  border: none;
  padding-right: 25px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(248, 70, 70)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  color: #F84646;
}

.currentPage {
  color: #F84646;
}

.carousel-inner {
  max-height: calc(100vh - 150px);
  overflow: hidden;
}

.formulario {
  display: flex;
  justify-content: center;
}

.anexate {
  position: relative;
  bottom: 14px;
}

form {
  height: 112px;
  width: 100%;
  color: rgba(245, 245, 245, 0.925);
  background-color: black;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.indie {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}

label span {
  color: #f84646;
}

input[type=text] {
  width: 200px;
  bottom: 10px;
  left: 5px;
  border: none;
  border-bottom: 2px solid #F84646;
  background-color: black;
  color: whitesmoke;
  outline: none;
  padding-top: 10px;
  font-size: 14px;
}

::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

input[type=submit] {
  width: 80px;
  bottom: 7px;
  left: 12px;
  background-color: #F84646;
  color: whitesmoke;
  border-style: none;
  padding-top: 1px;
  padding-bottom: 1px;
  cursor: pointer;
  border-radius: 1.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  background-image: linear-gradient(black, rgb(37, 37, 37));
}

.invertido {
  background-image: linear-gradient(rgb(37, 37, 37), black);
}

.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

iframe {
  margin: auto;
  display: block;
}

.videoDescription {
  background-color: black;
  height: 62px;
}
.videoDescription h2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  font-size: 16px;
  color: whitesmoke;
  font-weight: 400;
  padding-top: 10px;
}

footer {
  background-color: black;
  padding: 14.5px;
  padding-left: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 20px;
}
footer a {
  color: whitesmoke;
}

#instagram :hover {
  color: #C13584;
}

#spotify :hover {
  color: #1DB954;
}

#youtube :hover {
  color: #FF0000;
}

#tiktok :hover {
  color: #00f2ea;
}

.galeria {
  width: 100%;
  min-height: 500px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 200px);
}

.item {
  border: 0.1px solid rgba(131, 131, 131, 0.555);
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(../images/G1.JPG);
}

.item2 {
  background-image: url(../images/G2.JPG);
}

.item3 {
  background-image: url(../images/G3.JPG);
}

.item4 {
  background-image: url(../images/G4.JPG);
}

.item5 {
  background-image: url(../images/G5.JPG);
}

.item6 {
  background-image: url(../images/G6.JPG);
}

.item7 {
  background-image: url(../images/G7.JPG);
}

.item8 {
  background-image: url(../images/G8.JPG);
}

.item9 {
  background-image: url(../images/G9.JPG);
}

.item10 {
  background-image: url(../images/G10.JPG);
}

.item11 {
  background-image: url(../images/G11.JPG);
}

.item12 {
  background-image: url(../images/G12.JPG);
}

.item13 {
  background-image: url(../images/G13.JPG);
}

.item14 {
  background-image: url(../images/G14.JPG);
}

.item15 {
  background-image: url(../images/G15.JPG);
}

.item16 {
  background-image: url(../images/G16.JPG);
}

.item17 {
  background-image: url(../images/G17.JPG);
}

.item18 {
  background-image: url(../images/G18.JPG);
}

.item19 {
  background-image: url(../images/G19.JPG);
}

.item20 {
  background-image: url(../images/G20.JPG);
}

@media only screen and (min-width: 410px) {
  .videoDescription h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 200px);
  }
  .item2 {
    grid-column: 2/4;
  }
  .item6 {
    grid-column: 1/3;
  }
  .item9 {
    grid-column: 2/4;
  }
  .item13 {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 568px) {
  .navbar-brand {
    font-size: 30px;
  }
  form {
    height: 60px;
    font-size: 20px;
  }
  .anexate {
    bottom: 22px;
  }
  .indie {
    font-size: 25px;
  }
  input[type=text] {
    position: relative;
    bottom: 27px;
    width: 320px;
    font-size: 16px;
  }
  input[type=submit] {
    position: relative;
    bottom: 22px;
  }
  ::-moz-placeholder {
    font-size: 16px;
  }
  ::placeholder {
    font-size: 16px;
  }
  .videoDescription {
    position: relative;
    padding-bottom: 70px;
  }
  .videoDescription h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 810px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 250px);
  }
  .item1 {
    grid-column: 1/3;
  }
  .item2 {
    grid-column: 3/4;
  }
  .item3 {
    grid-column: 4/5;
  }
  .item4 {
    grid-column: 1/2;
  }
  .item5 {
    grid-column: 2/4;
  }
  .item6 {
    grid-column: 4/5;
  }
  .item9 {
    grid-column: 3/5;
  }
  .item11 {
    grid-column: 2/4;
  }
  .item12 {
    grid-column: 4/5;
  }
  .item13 {
    grid-column: 1/3;
  }
  .item17 {
    grid-column: 2/4;
  }
  .item19 {
    grid-column: 1/3;
  }
  .item20 {
    grid-column: 3/5;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 40px;
  }
  .responsiveIframe {
    display: block;
    max-width: 950px;
    max-height: 534px;
  }
  .videoContainer {
    max-height: 534px;
    padding: 265px;
  }
  .videoDescription {
    background-color: rgb(37, 37, 37);
    height: 100px;
    padding-top: 25px;
  }
  .dark {
    background-color: black;
  }
  .anexate {
    display: flex;
    justify-content: center;
    top: 10px;
    right: 240px;
  }
  input[type=text] {
    left: 130px;
    bottom: 38px;
  }
  input[type=submit] {
    left: 140px;
    bottom: 34px;
  }
  footer {
    font-size: 40px;
    letter-spacing: 30px;
  }
}
@media only screen and (min-width: 1000px) {
  .galeria {
    grid-template-rows: repeat(7, 350px);
  }
}/*# sourceMappingURL=estilos.css.map */